node_modules/
www/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/CapApp-SPM/.build/
*.jks
*.keystore
signing-private/
releases/

android/.kotlin/
